* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

.first-section {
  background-image: url("BannerImage.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  
}
.navbar {
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.nav-logo {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: left;
  /* left: 20px; */
}
.logo img {
  /* background-image: url("Discord-Logo.png");
  /* background-size: cover; */
  /* background-position: bottom;  */
  /* margin: 20px; */
  padding: 10px;
  height: 50px;
  width: 150px;
margin-left: 40px;

  
}
.options {
  display: flex;
  background-position: bottom;
  align-items: center;
  right: 10%;
  justify-content: center;
  font-size: 1rem;
  position: absolute;
  left: 70px;
}
.options p {
  margin-top: 10px;
  margin-left: 50px;
  justify-items: center;
}

.hero-content {
  color: #ffffff;
  /* font-family:fantasy ; */
  align-items: center;
  /* letter-spacing: 1.5px; */

  background-position: center;
  position: absolute;
  justify-content: center;
  top: 180px;
  text-align: center;
  position: absolute;
  left: 25%;
}
.hero-content h1 {
  font-size: 7vh;
}
.download1 {
  background-color: #ffffff;
  color: black;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  text-align: center;
  left: 25%;
}

.second-section {
  width: 100%;
  height: 400px;
  color: ghostwhite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.second-img {
  background-image: url("image1.svg");
  width: 50%;
  height: 100%;
}
.second-content {
  color: black;
  margin: 8rem;
}
.second-content strong {
  font-size: 7vmin;
}
.third-section {
  width: 100%;
  height: 400px;
  color: gainsboro;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.third-img {
  background-image: url("image2.svg");
  width: 50%;
  height: 100%;
}
.third-content {
  color: black;
  padding: 5rem;
  margin: 5rem;
}
.third-content strong {
  font-size: 7vmin;
}
.fourth-section {
  width: 100%;
  height: 400px;
  color: ghostwhite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fourth-img {
  background-image: url("image3.svg");
  width: 50%;
  height: 100%;
}
.fourth-content {
  align-items: center;
  color: black;
  padding: 5rem;
  margin: 5rem;
}
.fourth-content strong {
  font-size: 7vmin;
}
.fifth-section {
  width: 100%;
  height: 1000px;
  color: rgba(220, 220, 220, 0.192);
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.fifth-content P {
  color: black;
  text-align: center;
  margin: 1em;
}
#bold {
  font-family: fantasy;
  font-size: 8vmin;
}
.fifth-img {
  display: flex;
  justify-content: center;
}
#download-caption {
  color: black;
  align-self: center;
  
}
.download2 {
  background-color: rgb(75, 75, 237);
  color: black;
  width: 25%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}
