* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

.first-section {
  background-image: url("BannerImage.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}
.navbar {
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.nav-logo {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: left;
  /* left: 20px; */
}
.logo img {
  /* background-image: url("Discord-Logo.png");
  /* background-size: cover; */
  /* background-position: bottom;  */
  /* margin: 20px; */
  padding: 10px;
  height: 50px;
  width: 150px;
margin-left: 40px;

  
}
.options {
  display: flex;
  background-position: bottom;
  align-items: center;
  right: 10%;
  justify-content: center;
  font-size: 1rem;
  position: absolute;
  left: 70px;
}
.options p {
  margin-top: 10px;
  margin-left: 50px;
  justify-items: center;
}

.hero-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  max-width: 700px;
  flex-wrap:wrap ;
  margin-left: 15vw;
  gap: 10px;
}
.text h1 {
  font-size: xx-large;
}
.text p{
  font-size: medium;
}
.download1 {
  background-color: #ffffff;
  color: black;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
/* *******************section 2**************************** */

.section2{
  width: 100%;
  overflow-x: hidden;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.leftsection{
  width: 50%;
  min-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightsection{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.rightsection h1{
  font-size: xx-large;
  font-weight: 900;
}
.rightsection p{
  font-size: medium;
}


.fifth-section {
  width: 100%;
  height: 120vh;
  background-color: #ffffff;
  color: #000;
  overflow-x: hidden;
  /* max-width: 1200px; */
  /* margin: auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center ;
  /* row-gap: 20px; */
  
}
.fifth-section h1{
  font-size: xx-large;        
  font-weight: 800;
  max-width: 800px;
}
.fifth-section p{
  font-size: medium;
  text-align: center;
  max-width: 600px;
}
.fifth-section img{
  width: 60%;
  height: auto;
}
.download2 {
  background-color: rgb(75, 75, 237);
  color: black;
  width: 25%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}
